<!DOCTYPE html>
<html>
<head>
  <title>LacastaTextConverter</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	body {
			font-size: 90%;
			line-height: 150%;
			color: #000000;
			/*font-size: 14px;*/
		}

div#content {
  width: 95%;
  margin: 0 auto;
  padding-top: 80px;
}

table.script_table {
	width: 860px;/* 760px;*/
  margin: 0 auto;
  border-spacing: 0px;
	border-left: solid 1px #666666;
	table-layout: fixed;
}

tr.bold {
	font-weight: bold;
	color: #4a86e8;
}

td {
		height: 40px;
	margin: 0px;
	padding: 0 10px;
	line-height: 40px;
	border-right: solid 1px #666666;
}

tr.blank {
	height: 40px;
}

tr.text td {
	color: #555555;
	padding-left: 60px;
		padding-right: 40px;
}

td.chara_name {
	width: 80px;
	padding-right: 20px;
	text-align: right;
	vertical-align: top;
	border-right: solid 1px #666666;
}

td.text {
	width: 700px ; /*600px;*/
	vertical-align: top;
}

tr.voice td.text {

}


td.file_name {
	width: 90px;
	padding-left: 10px;
	padding-right: 0;
	text-align: left;
	
	color: #666666;
	font-size: 75%;
	vertical-align: top;
}
  	
  	
div.place {
	width: 830px;
	height: 40px;
	margin: 0px auto;
	padding: 10px 60px;
	line-height: 40px;
	border: solid 1px #666666;
}  	
  	
  </style>
  
</head>
<body>

<%= yield %>

</body>
</html>
