<!DOCTYPE html>
<html>
<head>
  <title>LacastaTextConverter</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
body {
	font-size: 90%;
	color: #000000;
	background: #eeeeee;
}

div#content {
  width: 90%;
  margin: 0px auto;
}

div.chapter {
  width: 830px;
  margin: 40px auto;
  padding: 40px 40px 80px;
	background-image: url(/images/paper.png);
}

h1.c_title {
	margin: 40px 0 -100px;
	padding-left: 30px;
	font-size: 140%;
	font-weight: normal;
	page-break-before: always;
}

div.explain {
  width: 700px;
  margin: 40px auto;
  color: #333333;
  font-size: 90%;
  text-align: right;
}

span.blue {
	color: #4a86e8;
}

h4.situation {
	margin: 180px 40px 20px;
	padding: 20px 20px;
	font-weight: normal;
	border-bottom: solid 1px #999999;
	border-top: solid 1px #999999;
		border: solid 1px #999999;
}

table.voice {
	margin: 45px auto;
	margin-bottom: 45px;
	color: #333333;
	table-layout: fixed;
	border: solid 0px #666666;
}

table.voice tr.bold {
	font-weight: bold;
	color: #4a86e8;
}

table.voice td {
	padding-top: 10px;
	padding-bottom: 10px; 
}

table.voice td.chara_name {
	width: 50px;
	padding-left: 50px;
	vertical-align: top;
}

table.voice td.text {
	width: 600px;
	vertical-align: top;
}

table.voice td.file_name {
	width: 100px;
	padding-left: 10px;
	font-size: 70%;
	font-weight: normal;
	color: #777777;
	vertical-align: top;
}

div.text {
	width: 600px;
	margin: 0 auto;
	padding: 0px 40px;
	font-family: serif;
	color: #666666;
	border: dotted 0px #CCCCCC;
}

div.img_area {
	margin-right: 40px;
	margin-bottom: 30px;
	text-align: right;
}

img.location {
	width: 240px;
	height: 180px;
}

/*
table.script_table {
	width: 860px;
  border-spacing: 0px;
	border-left: solid 1px #666666;
	table-layout: fixed;
}

tr.bold {
	font-weight: bold;
	color: #4a86e8;
}

td {
		height: 40px;
	margin: 0px;
	padding: 0 10px;
	line-height: 40px;
	border-right: solid 1px #666666;
}

tr.blank {
	height: 40px;
}

tr.text td {
	color: #555555;
	padding-left: 60px;
		padding-right: 40px;
}

td.chara_name {
	width: 80px;
	padding-right: 20px;
	text-align: right;
	vertical-align: top;
	border-right: solid 1px #666666;
}

td.text {
	width: 700px ; 
	vertical-align: top;
}

tr.voice td.text {

}


td.file_name {
	width: 90px;
	padding-left: 10px;
	padding-right: 0;
	text-align: left;
	
	color: #666666;
	font-size: 75%;
	vertical-align: top;
}
  	
  	
div.place {
	width: 830px;
	height: 40px;
	margin: 0px auto;
	padding: 10px 60px;
	line-height: 40px;
	border: solid 1px #666666;
}  	
*/
  </style>
  
</head>
<body>

<%= yield %>

</body>
</html>
